<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD836XjV0TdBLpQNlPyaW3F0GLWthFPjGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>387598634372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectManager</string>
	<key>PROJECT_ID</key>
	<string>projectmanagement-2aef4</string>
	<key>STORAGE_BUCKET</key>
	<string>projectmanagement-2aef4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387598634372:ios:5c8e2e06bc2e7b45f921d1</string>
</dict>
</plist>